{% extends "layout.html" %}

{% block head %}


{% endblock %}

{% block title%} 404{% endblock %}

{% block pagetitle %}{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center mytext">
    <div class="text-center m-5 mt-4 pt-1 pb-4">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
        <p class="lead">
            The page you’re looking for doesn’t exist.
          </p>
        <a href="/" class="btn btn-success">Go Home</a>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}