{% extends "layout.html" %}

{% block head %}
<!-- Academicons -->
<link rel="stylesheet" href="../static/vendor/academicons-1.9.4/css/academicons.min.css">
<!-- My CSS -->
<link rel="stylesheet" href="../static/mycss/home.css">
{% endblock %}

{% block title %}Siba Prasad Das • Home{% endblock %}

<!-- About Me Page Title -->
{% block pagetitle %}About Me{% endblock %}

<!-- About Me Content -->
{% block content %}
<div class="container myabout">
    <div class="row">
        <div class="col-xxl-1 col-xl-1"></div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 text-center">
            <img src="../static/images/My-Pic.JPG" alt="profile-picture" class="img-fluid rounded"
                id="profile-picture">
        </div>
        <div class="col-xxl-7 col-xl-7 col-lg-8 col-md-8 mytext" id="abouttext">
            <p>Welcome to my web! My name is Siba Prasad Das and I am currently working as Research Professor at
                Department of Physics, <a href="https://www.unishivaji.ac.in/" target="_blank">Shivaji University, Kolhapur</a>.</p>

            <p>This website has been developed to present my academic and research portfolio on the internet. Check navigation menu for more details!</p>

            <p>Briefly, I would like to introduce myself as: </p>

            <ul>
                <li>A high energy particle phenomenologist who has woked on prestigious research and academic positions
                    in Europe, Latin America and India</li>
                <li>A lecturer with passion for <a href="/teaching" target="_blank">teaching</a> and have international teachings experience at undergraduate
                    and postgraduate levels for several basics and advance topics related to physics</li>
                <li>Author of over 25 research papers related to particle physics published in the international journals
                </li>
                <li>Enthusiast programmer who has work experience with computational softwares like C, C++, Fortran,
                    Python, PAW, Root, etc.</li>
            </ul>
        </div>
        <div class="col-xxl-1 col-xl-1"></div>
    </div>
</div>

<!-- Text below About & Image -->
<div class="container">
    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-10">
            <p class="mytext mt-5">Currently, I am working to discover Supersymmetry and Multiple Higgs Bosons beyond
                Standard
                Model (SM) phenomena at currently operating Large Hadron Collider (LHC), Large Hadron
                electron Collider (LHeC) and future upgrade Future Circular Collider (FCC) experiments at
                CERN, Geneva, Switzerland</p>
            <br>
            <p class="mytext">Visit my <a href="/research" target="_blank">research</a> page to know about my research.</p>
            <br>
            <p class="mytext">Or you can view my publications using INSPIRE-HEP & arXiv links given below & connect
                with me
                using <a href="/contact#links" target="_blank">links</a> hereby. </p>

            <!-- Social Icons -->
            <div class="socialicons">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://inspirehep.net/authors/1041860" target="_blank">
                            <i class="ai ai-inspire ai-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://arxiv.org/search/gr-qc?searchtype=author&query=Das,+S+P" target="_blank">
                            <i class="ai ai-arxiv ai-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-xl-1"></div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}