{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/mycss/publications.css">
{% endblock %}

{% block title %}Publications{% endblock %}

{% block pagetitle %}Publications{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-10 mytext">
            <p class="mt-4">This page includes lists of my <a href="#research-publications">research publications</a> and <a
                href="#conference-papers">conference papers</a>.</p>
            <!-- Research Publications -->
            <p class="fs-4 mt-4 mb-2" id="research-publications">Research Publications:</p>
            <ol class="list-group list-group-numbered research-publications">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Nearly Static Magnetized Kerr Black-hole in Non-linear Electrodynamics, K. G.
                            Managave, H. A. Redekar, R. B. Kumbhar, S. P. Das and K.Y.Rajpure
                            (submitted in IJMPA under review) </div>
                        Link: <a target="_blank"
                            href="https://arxiv.org/abs/2303.07736">https://arxiv.org/abs/2303.07736</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Prospects for discovering a light charged Higgs boson within the NMSSM at the FCC-eh
                            collider,S.P. Das, J. Hernandez-Sanchez, S. Moretti, A. Rosado </div>
                        Link: <a target="_blank"
                            href="https://arxiv.org/abs/1806.08361">https://arxiv.org/abs/1806.08361</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Production of a light top-squark pair in association with a light non-standard Higgs boson
                            within the NMSSM at the 13 TeV LHC and a 33 TeV proton collider, Siba Prasad Das, Jorge
                            Fraga and Carlos Avila, https://arxiv.org/abs/1712.04395, Int.J.Mod.Phys.A 34 (2019) 22,
                            1950125 </div>
                        Link: <a target="_blank"
                            href="https://doi.org/10.1142/S0217751X19501252">https://doi.org/10.1142/S0217751X19501252</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Light neutral CP-even Higgs boson within Next-to-Minimal Supersymmetric Standard model
                            (NMSSM) at the Large Hadron electron Collider (LHeC), Siba Prasad Das, and Marek
                            Nowakowski,Phys.Rev.D.96(055014)2017; https://arxiv.org/abs/1612.07241 </div>
                        Link: <a target="_blank" href="https://doi.org/10.1103/PhysRevD.96.055014">https://doi.org/
                            10.1103/PhysRevD.96.055014</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Flavor violating signatures of lighter and heavier Higgs bosons within Two Higgs Doublet
                            Model type III at the LHeC, Siba Prasad Das,J. Hernandez-Sanchez, A. Rosado, R. Xoxocotzi
                            and S.Moretti, Phys.Rev.D94(055003)2016, https://arxiv.org/abs/1503.01464 </div>
                        Link: <a target="_blank"
                            href="https://doi.org/10.1103/PhysRevD.94.055003">https://doi.org/10.1103/PhysRevD.94.055003</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Testing SUSY models for the muon g-2 anomaly via Chargino-Neutralino Pair Production at
                            the LHC , Siba Prasad Das , Monoranjan Guchait and D. P. Roy,
                            Phys.Rev.D90(055011)2014; https://arxiv.org/abs/1406.6925;
                            http://journals.aps.org/prd/pdf/10.1103/PhysRevD.90.055011
                        </div>
                        Link: <a target="_blank"
                            href="https://doi.org/10.1103/PhysRevD.90.055011">https://doi.org/10.1103/PhysRevD.90.055011</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Dilepton Signatures of the Higgs Boson with Tau-jet Tagging, Siba Prasad Das, Pankaj
                            Agrawal and Somnath Bandyopadhyay, arXiv:1308.6511 [hep-ph] </div>
                        Link: <a target="_blank"
                            href="https://arxiv.org/abs/1308.6511">https://arxiv.org/abs/1308.6511</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Multilepton Signatures of the Higgs Boson through its Production in Association with a
                            Topquark Pair Siba Prasad Das, Pankaj Agrawal and Somnath Bandyopadhyay
                            Phys.Rev.D88(093008)2013; https://arxiv.org/abs/1308.3043;
                            http://prd.aps.org/pdf/PRD/v88/i9/e093008 </div>
                        Link: <a target="_blank"
                            href="https://doi.org/10.1103/PhysRevD.88.093008">https://doi.org/10.1103/PhysRevD.88.093008</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Probing Neutralino properties in minimal supergravity with bilinear R-parity violation,
                            Siba
                            Prasad Das, F. de Campos, O. J. P. Eboli, M. B. Magro, W. Porod D. Restrepo, M. Hirsch and
                            J. W. F. Valle , Phys.Rev.D86(075001)2012; https://arxiv.org/abs/1206.3605,
                            http://prd.aps.org/
                            pdf/PRD/v86/i7/e075001 </div>
                        Link: <a target="_blank"
                            href="https://arxiv.org/abs/1206.3605,http://prd.aps.org/">https://arxiv.org/abs/1206.3605,http://prd.aps.org/</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Heavy Neutrinos and Lepton Flavor Violation in Left-Right Models, Siba Prasad Das,
                            F.F.Deppisch, O.Kittel and J.W.F.Valle, Phys.Rev.D86(055006),2012; arXiv:1206.0256 [hepph],
                            http://arxiv.org/abs/1206.0256, http://prd.aps.org/abstract/PRD/v86/i5/e055006 </div>
                        Link: <a target="_blank"
                            href="https://doi.org/10.1103/PhysRevD.86.055006">https://doi.org/10.1103/PhysRevD.86.055006</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>CP-violating Supersymmetric Higgs at the Tevatron and LHC, Siba Prasad Das and Manuel
                            Drees, Phys.Rev.D83(035003)2011; http://arxiv.org/abs/1010.3701,
                            http://prd.aps.org/abstract/
                            PRD/v83/i3/e035003 </div>
                        Link: <a target="_blank"
                            href="https://doi.org/10.1103/PhysRevD.83.035003">https://doi.org/10.1103/PhysRevD.83.035003</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Sneutrino as Lightest Supersymmetric Particle in B3 mSUGRA Models and Signals at the LHC,
                            Siba Prasad Das, M. A. Bernhardt, H. K. Dreiner and S. Grab, Phys.Rev.D79(035003)2009;
                            http://arxiv.org/abs/0810.3423 </div>
                        Link: <a target="_blank"
                            href="https://doi.org/10.1103/PhysRevD.79.035003">https://doi.org/10.1103/PhysRevD.79.035003</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Focus Point SUSY at the LHC Revisited , Siba Prasad Das, A. Datta, M. Guchait, M. Maity and
                            S. Mukherjee, Eur.Phys.J.C54(2008)645; http://arxiv.org/abs/0708.2048,
                            http://link.springer.com/content/pdf/10.1140%2Fepjc%2Fs10052-008-0561-2 </div>
                        Link: <a target="_blank"
                            href="https://doi.org/10.1140/epjc/s10052-008-0561-2">https://doi.org/10.1140/epjc/s10052-008-0561-2</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Four body decay of the lighter top squark constrained by the Lighter CP-even Higgs boson
                            mass bound , Siba Prasad Das , Phys.Rev.D73(115004)2006;
                            http://arxiv.org/abs/hep-ph/0512011, http://prd.aps.org/abstract/PRD/v73/i11/e115004 </div>
                        Link: <a target="_blank"
                            href="https://doi.org/10.1103/PhysRevD.73.115004">https://doi.org/10.1103/PhysRevD.73.115004</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Top squark and neutralino decays in a R-parity violating model constrained by neutrino
                            oscillation data , Siba Prasad Das, Amitava Datta and Sujoy Poddar,
                            Phys.Rev.D73(075014)2006; http://arxiv.org/abs/hep-ph/0509171,
                            http://prd.aps.org/abstract/PRD/v73/i7/e075014 </div>
                        Link: <a target="_blank"
                            href="https://doi.org/10.1103/PhysRevD.73.075014">https://doi.org/10.1103/PhysRevD.73.075014</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Top squark mass: current limits revisited and new limits from Tevatron Run-I , Siba Prasad
                            Das, Amitava Datta and Manas Maity , Phys. Lett. B596(293)2004;
                            http://arxiv.org/abs/hepph/0404049,
                            http://www.sciencedirect.com/science/article/pii/S037026930401007X </div>
                        Link: <a target="_blank"
                            href="https://doi.org/10.1016/j.physletb.2004.06.103">https://doi.org/10.1016/j.physletb.2004.06.103</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Probing R-parity violating models of neutrino mass at the Tevatron via top Squark decays,
                            Siba
                            Prasad Das, Amitava Datta and Monoranjan Guchait , Phys.Rev.D70(015009)2004;
                            http://arxiv.org/abs/hep-ph/0309168, http://prd.aps.org/abstract/PRD/v70/i1/e015009 </div>
                        Link: <a target="_blank"
                            href="https://doi.org/10.1103/PhysRevD.70.015009">https://doi.org/10.1103/PhysRevD.70.015009</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Four Body Decay of the Stop Squark at the Upgraded Tevatron , Siba Prasad Das, Amitava
                            Datta and Monoranjan Guchait , Phys.Rev.D65(095006)2002;
                            http://arxiv.org/abs/hep-ph/0112182, http://prd.aps.org/abstract/PRD/v65/i9/e095006 </div>
                        Link: <a target="_blank"
                            href="https://doi.org/10.1103/PhysRevD.65.095006">https://doi.org/10.1103/PhysRevD.65.095006</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>RESEARCH PUBLICATIONS in FCC-he Collaborations: The Large Hadron-Electron Collider at the
                            HL-LHC </div>
                        Link: <a target="_blank" href="https://arxiv.org/abs/2007.14491
                        CERN-ACC-Note-2020-0002">https://arxiv.org/abs/2007.14491
                            CERN-ACC-Note-2020-0002</a>
                    </div>
                </li>
            </ol>

            <!-- Conference Papers -->
            <p class="fs-4 mt-4 mb-2" id="conference-papers">Conference Papers:</p>
            <ol class="list-group list-group-numbered conference-papers">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Neutral and Charged Higgs boson phenomenology at the LHeC and FCC-eh, Siba Prasad Das,
                            Marek Nowakowski, J. Hernández-Sánchez, Stefano Moretti, Alfonso Rosado,
                            https://arxiv.org/abs/1812.03895,PIC2018: XXXVIII International Symposium on Physics in
                            Collision, Bogotá, Colombia, 2018</div>
                        Link: <a target="_blank"
                            href="https://inspirehep.net/conferences/1631445">https://inspirehep.net/conferences/1631445</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Flavor violating signatures of neutral Higgs bosons at the LHeC, J. Hernandez-Sanchez , S.
                            P. Das , S. Moretti , A. Rosado , R. Xoxocotzi , https://arxiv.org/abs/1509.05491,XXIII
                            International Workshop on Deep-Inelastic Scattering, DIS2015, PoS DIS2015 (2015) 227, h
                            ttps://inspirehep.net/conferences/1297968 </div>
                        Link: <a target="_blank"
                            href="https://inspirehep.net/conferences/1297968">https://inspirehep.net/conferences/1297968</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>CP-violating MSSM Higgs at Tevatron and LHC, Siba Prasad Das and Manuel Drees, Journal
                            of Physics 259(012071)2010; arXiv:1010.2129[hep-ph] ; Talk at SUSY 10, Bonn, Germany
                            and PASCOS 2010, Valencia, Spain, Journal of Physics: Conference Series, Volume 259, Issue
                            1, article id. 012071, 6 pp. (2010) </div>
                        Link: <a target="_blank"
                            href="https://ui.adsabs.harvard.edu/link_gateway/2010JPhCS.259a2071P/doi:10.1088/1742-6596/259/1/012071">https://ui.adsabs.harvard.edu/link_gateway/2010JPhCS.259a2071P/doi:10.1088/1742-6596/259/1/012071</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Indirect KK effects, Siba Prasad Das, K. Agashe, M.Guchait and M.Vos,
                            arXiv:1005.1229[hepph] page:110-116 ; Les Houches workshop 2009, France, </div>
                        Link: <a target="_blank"
                            href="https://inspirehep.net/conferences/979939">https://inspirehep.net/conferences/979939</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>CP-violating Higgs at Tevatron, Siba Prasad Das, Amitava Datta and Manuel Drees,
                            arXiv:0809.2209 [hep-ph]; Talk at SUSY08, Seoul, Korea; AIP Conf.Proc.1078:223-225,2009
                        </div>
                        Link: <a target="_blank" href="10.1063/1.3051916">10.1063/1.3051916</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Sneutrino LSPs in R-parity violating minimal supergravity models, Siba Prasad Das, M. A.
                            Bernhardt, H. K. Dreiner and S. Grab, arXiv:0809.3176 [hep-ph]; Talk at SUSY08, Seoul,
                            Korea; AIP Conf.Proc.1078:306-308,2009 </div>
                        Link: <a target="_blank" href="10.1063/1.3051942">10.1063/1.305194210.1063/1.3051942</a>
                    </div>
                </li>
            </ol>
        </div>
        <div class="col-xl-1"></div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}