{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/mycss/research.css">
{% endblock %}

{% block title %}Research{% endblock %}

{% block pagetitle %}Research{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-5 mytext">
            <!-- Research in Progress -->
            <p class="fs-4 mt-4">Research in Progress:</p>
            <ol class="list-group list-group-numbered research-progress">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Orbits of Kerr Geometry, Siba Prasad Das and Sumit R. Panganti</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Slowly rotating Kerr Black-hole in Non-linear Electrodynamics Siba Prasad Das, Rohit B.
                            Kumbhar, Harish A. Redekar and K. Y. Rajpure</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Low mass Charged Higgs boson within Next-to-Minimal Supersymmetric Standard model
                            (NMSSM) at the Future Circular Collider- hadron electron (FCC-he), Siba Prasad Das, Jaime
                            Hernandez Sanchez, Stefano Moretti and Alfonso Rosado</div>
                    </div>
                </li>
            </ol>

            <!-- Research Interests & Projects-->
            <p class="fs-4 mt-4">Research Interests & Projects:</p>
            <ol class="list-group list-group-numbered research-progress">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>SM Higgs Boson and discovery of multiple (non-standard) type Higgs Boson signatures in
                            various theoretically motivated models – both Supersymmteric (MSSM, Next-to-MSSM) and
                            non-Supersymmetric (Generic 2HDM) in high energy collider experiments</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Supersymmtery searches through Squark-Gluino, Chargino-Neutralino and Lighter top-Squark
                            and bottom-Squark</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Analytical calculation of various theoretical Neutrino mass models (R-parity, See-saw,
                            LeftRight) and their testabilty at collider experiments from simulation perspective</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Perturbative-QCD (p-QCD) aspect of various jet cluster algorithms (Georgi Algorithms,
                            Durham, Cambridge—Aachen) within FastJET
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Phenomenological and direct experimental consequences of Dark matter and Astroparticle
                            physics. I would like to learn more on Dark matter aspects from a theoretical perspective
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>I am collaborating with experts in these fields from various institutes: e.g., University
                            of Southampton, United Kingdom; IFUAP and FCFM, University of Puebla, Mexico and
                            Physikalisches Institutes, University of Bonn, Germany</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Member of top-Higgs Physics working group at the Large Hadron electron Collider (LHeC) and
                            Future Circular Collider - hadron electron (FCC-he)</div>
                    </div>
                </li>
            </ol>
        </div>
        <div class="col-xl-5 mytext">
            <!-- Research Experience -->
            <p class="fs-4 mt-4">Research Experience:</p>
            <!-- Timeline Started -->
            <section class="mt-4">
                <ul class="timeline">
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Shivaji University Kolhapur, Kolhapur, Maharashtra, India</h5>
                        <p class="text-muted mb-2 fw-bold">10/2021 - Present</p>
                        <p class="text-muted">
                            General Theory of Relativity, Gravity, Black-hole Physics, Thermodynamics of classical
                            Black-hole
                        </p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Universidad de los Andes, Bogota, Colombia</h5>
                        <p class="text-muted mb-2 fw-bold">01/2016 – 12/2017</p>
                        <div class="text-muted">
                            <ul>
                                <li>Finding non-standard Higgs (Neutral and Charged) within NMSSM at LHeC</li>
                                <li>Finding non-standard Higgs and lighter top-squark together within NMSSM at LHC with
                                    13 TeV and 33 TeV proton-proton collisons</li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">IFUAP-FCFM, BUAP, Puebla, Mexico</h5>
                        <p class="text-muted mb-2 fw-bold">07/2014 – 01/2016</p>
                        <p class="text-muted">
                            Finding non-standard Higgs at LHeC within various Yukawa-textured 2HDM-III
                        </p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Institute of Physics, Bhubaneswar, Orissa, India </h5>
                        <p class="text-muted mb-2 fw-bold">04/2013 -11/2014</p>
                        <p class="text-muted">
                            Finding the SM Higgs in the top-quark associated production at LHC
                        </p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Visva-Bharati University, India </h5>
                        <p class="text-muted mb-2 fw-bold">10/2011 – 03/2013 </p>
                        <p class="text-muted">
                            Lighter top-Squark phenomenology at LHC
                        </p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">University of Zaragoza, Spain</h5>
                        <p class="text-muted mb-2 fw-bold">08/2011 – 09/2011</p>
                        <p class="text-muted">
                            Generic SUSY phenomenolgy
                        </p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">AHEP-IFIC, Valencia, Spain</h5>
                        <p class="text-muted mb-2 fw-bold">08/2009 – 09/2011 </p>
                        <div class="text-muted">
                            <ul>
                                <li>Bi-linear R-parity violations models of neutrino mass and its collider signatures
                                    with Displaced vertices
                                </li>
                                <li>Lepton flavor violations signatures with heavy singlet Neutrino in the left-right
                                    model </li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Physikalisches Institute, University of Bonn, Germany</h5>
                        <p class="text-muted mb-2 fw-bold">01/2007 – 07/2009 </p>
                        <div class="text-muted">
                            <ul>
                                <li>R-parity violating model with sneutrino as a lightest Supersymmtric particles and
                                    its evidence at LHC
                                </li>
                                <li>CP-violating Higgs signatures within Minimal Supersymmetric Standard Model(MSSM) at
                                    LHC </li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Harish-Chandra Research Institute, Allahabad, India </h5>
                        <p class="text-muted mb-2 fw-bold">08/2006 – 01/2007</p>
                        <p class="text-muted">
                            CP-violating Higgs within MSSM at LHC
                        </p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Jadavpur University, Kolkata, India </h5>
                        <p class="text-muted mb-2 fw-bold">01/2006 – 08/2006</p>
                        <p class="text-muted">
                            Neutrino masses and lighter top-Squark phenomenology at hadron colliders such as Tevatron
                            and LHC
                        </p>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-xl-1"></div>
    </div>
</div>

{% endblock %}

{% block js %}{% endblock %}