{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/mycss/resume.css">
{% endblock %}

{% block title %}Resume/CV{% endblock %}

{% block pagetitle %}Resume/CV{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-5 mytext">
            <!-- Personal Details -->
            <p class="fs-4 mt-4">Personal Details:</p>
            <ul class="personal-details">
                <li>Name: Dr. Siba Prasad Das</li>
                <li>Date of Birth: 18th Dec 1973</li>
                <li>Nationality: Indian</li>
                <li>Designation: Research Professor,
                    Physics Department,
                    Shivaji University, Kolhapur,
                    Maharashtra,
                    India - 416004</li>
            </ul>

            <!-- Education -->
            <p class="fs-4 mt-4">Education:</p>
            <!-- Timeline started -->
            <section class="mt-4">
                <ul class="timeline">
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Jadavpur University, India</h5>
                        <p class="text-muted mb-2 fw-bold">1999 - 2005</p>
                        <p class="text-muted">
                            Ph.D, High Energy Particle Physics <br>
                            Thesis title - Search for SUSY at Collider: a Phenomenological Study
                        </p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Jadavpur University, India</h5>
                        <p class="text-muted mb-2 fw-bold">1995 - 1997</p>
                        <p class="text-muted">
                            M.Sc. High Energy Particle Physics (1st Class with high university ranking)
                        </p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Jadavpur University, India</h5>
                        <p class="text-muted mb-2 fw-bold">1992 - 1995</p>
                        <p class="text-muted">
                            B.Sc. Physics (1st Class Distinction)
                        </p>
                    </li>
                </ul>
            </section>
            <!-- Timeline Ended -->

            <!-- Work Experience -->
            <p class="fs-4 mt-4">Work Experience:</p>
            <!-- Timeline started -->
            <section class="mt-4">
                <ul class="timeline">
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Research Professor</h5>
                        <p class="text-muted mb-2 fw-bold">10/2021 - Present</p>
                        <p class="text-muted">
                            Shivaji University Kolhapur, Kolhapur, Maharashtra, India
                        </p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Lecturer</h5>
                        <p class="text-muted mb-2 fw-bold">01/2019 - 12/2020</p>
                        <div class="text-muted">
                            <p class="text-muted">
                                Universidad del Valle de Guatamela, Guatemala City, Guatemala
                            </p>
                        </div>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Lecturer & Researcher</h5>
                        <p class="text-muted mb-2 fw-bold">01/2016 - 12/2018</p>
                        <div class="text-muted">
                            <p class="text-muted">
                                Universidad de los Andes (Uniandes), Bogota, Colombia
                            </p>
                        </div>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Lecturer & Researcher</h5>
                        <p class="text-muted mb-2 fw-bold">07/2014 – 01/2016</p>
                        <p class="text-muted">
                            IFUAP-FCFM, BUAP, Puebla, Mexico
                        </p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Researcher</h5>
                        <p class="text-muted mb-2 fw-bold">04/2013 -11/2014</p>
                        <p class="text-muted">
                            Institute of Physics, Bhubaneswar, Orissa, India
                        </p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Lecturer & Researcher</h5>
                        <p class="text-muted mb-2 fw-bold">10/2011 – 03/2013 </p>
                        <p class="text-muted">
                            Visva-Bharati University, India
                        </p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Researcher</h5>
                        <p class="text-muted mb-2 fw-bold">08/2011 – 09/2011</p>
                        <p class="text-muted">
                            University of Zaragoza, Spain
                        </p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Researcher</h5>
                        <p class="text-muted mb-2 fw-bold">08/2009 – 09/2011 </p>
                        <p class="text-muted">AHEP-IFIC, Valencia, Spain</p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Lecturer & Researcher</h5>
                        <p class="text-muted mb-2 fw-bold">01/2007 – 07/2009 </p>
                        <p class="text-muted">Physikalisches Institute, University of Bonn, Germany</p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Researcher </h5>
                        <p class="text-muted mb-2 fw-bold">08/2006 – 01/2007</p>
                        <p class="text-muted">
                            Harish-Chandra Research Institute, Allahabad, India
                        </p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Researcher </h5>
                        <p class="text-muted mb-2 fw-bold">01/2006 – 08/2006</p>
                        <p class="text-muted">
                            Jadavpur University, Kolkata, India
                        </p>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Lecturer </h5>
                        <p class="text-muted mb-2 fw-bold">01/2001 – 081/2003</p>
                        <p class="text-muted">
                            Jadavpur University, Kolkata, India
                        </p>
                    </li>
                </ul>
            </section>
            <!-- Timeline Ended -->

        </div>
        <div class="col-xl-5 mytext">
            <!-- Competencies -->
            <p class="fs-4 mt-4">Competencies:</p>
            <ol class="list-group list-group-numbered competencies">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Participation and delivery of research lectures in International Workshops, Conferences,
                            Seminars and Universities in Europe (Germany,Spain and France), Asia (South Korea, Japan
                            and India) and Americas (USA, Mexico,Colombia, Ecuador and Guatemala)</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Work experience in many diverse topics - Light Top-Squark Scenario, Neutrino Mass Model,
                            Tri-linear & Bi-linear R-parity Violation, Left-Right symmetry, Flavor Violation,
                            CP-Violation,
                            Non-universal Gaugino Mass Model, Generic Two Higgs Doublet Model (2HDM), Higgs
                            Boson Decays and Next-to-Minimal Supersymmetric Standard Model (NMSSM)</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Proficient in Monte Carlo simulations (Pythia event Generator), Matrix Element Calculators
                            (CalcHEP, MadGraph/MadEvent), Detector Simulators (PGS, AcerDET, Delphes), Jet
                            Algorithm (FastJET) and Interfacing Program (HepMC). At present interested to learn and
                            adopt the Neural Network, Data Sciences and Machine Learning aspects in High Energy
                            Colliders physics
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>After taking the courses on GTR and QFT at Shivaji University Kolhapur, with M.Sc project
                            students started working on General Theory of Relativity, Black-hole Physics, Penrose
                            Processes, SUSY-QFT and Super-Gravity
                        </div>
                    </div>
                </li>
            </ol>

            <!-- Computational Skills -->
            <p class="fs-4 mt-4">Computational Skills:</p>
            <ol class="list-group list-group-numbered computational-skills">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Event generators: PYTHIA8, PYTHIA6, ISAJET, MadGraph/MadEvent, AcerDET,Delphes
                            detector simulator
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Data Analysis and Optimization (now learning): Toolkit for Multivariate Analysis(TMVA)
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Matrix Element calculators:Alpgen, CompHEP/CalcHEP, LanHEP, TOPREX, PROTOS</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Public domain codes and algebraic packages: NMSSMTools, CPsuperH, 2HDMC,
                            HDECAY,SOFTSUSY, SUSPECT, micrOMEGA, SPheno, FeynHiggs, FeynArts, FeynCalc,
                            FeynDiagram, FormCalc, SusHi
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Graphical tools:PAW, ROOT
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Monte Carlo simulation :Parton level Monte Carlo simulation, HEPMC, FastJET
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Languages and Operating Systems :Fortran, C, C++, Pythonand Unix, Linux, Windows
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>CP-violation, R-parity violation, Left-Right models, Higgs Physics and etc
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Implementation of various external (parton level) processes into PYTHIAevent generator
                        </div>
                    </div>
                </li>
            </ol>

            <!-- References -->
            <p class="fs-4 mt-4">References:</p>
            <ol class="list-group list-group-numbered references">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Prof. Marek Nowakowski, Department of Physics, Universidad de los Andes, Carrera 1 18A10,
                            Bloque Ip, Bogota, Colombia
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Data Analysis and Optimization (now learning): Toolkit for Multivariate Analysis(TMVA)
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Prof. Jaime Hernandez Sanchez, Facultad de Ciencias de la Electronica (FCE), Ciudad
                            Universitaria, Puebla, Mexico</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Prof. Manoranjan Guchait, Department of High Energy Physics, Tata Institute of Fundamental
                            Research(TIFR), Colaba, Mumbai, India                            
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Prof. Manuel Drees, Physikalisches Institute, University of Bonn, Nussallee 12, D-53115 Bonn,
                            Germany
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Prof. Alfonso Rosado, Instituto de Fisica "Ing. Luis Rivera Terrazas", Ciudad Universitaria,
                            Puebla, Mexico
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Prof. Stefano Moretti, Director of NExT Institute, School of Physics and Astronomy, University
                            of Southampton, United Kingdom
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Prof. Frank Deppisch, University College London, Department of Physics & Astronomy,
                            London, United Kingdom
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Prof. Pankaj Agrawal, Institute of Physics (IOP), Bhubaneswar 751 005, Orissa, India
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Prof. Retd. Amitava Datta, Rajabazar Science College, Calcutta University, Kolkata, India
                        </div>
                    </div>
                </li>
            </ol>
            <div class="col-xl-1"></div>
        </div>
    </div>
    {% endblock %}

    {% block js %}{% endblock %}