{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/mycss/students.css">
{% endblock %}

{% block title %}Students{% endblock %}

{% block pagetitle %}Students{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-10 mytext">
            <!-- MSc Dissertation Students -->
            <p class="fs-4 mt-4">MSc Dissertation Students:</p>
            <ol class="list-group list-group-numbered students">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Maria Teresa Universidad del Valle de Guatemala - Weak Interaction in Particle
                            Physics(2019) </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Kirti G. Mangave, Shivaji University- Maxwell Equation in Curved Space-time(2022) </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Harish A. Redekar, Shivaji University- Maxwell Equation in Curved Space-time(2022) </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Rohit B. Kumbhar, Shivaji University- Black-hole and Perrose Processes (2022) </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Aishyara Jadav, Shivaji University- Schwarzschield Black-hole(2022)</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Nikita S. Raut, Shivaji University- Study of Kerr Black-hole(2022) </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Sumit R. Panganti, Shivaji University- Stable orbits of Kerr geometry (2023) </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Shradhaa S. Kamble, Shivaji University- Reissner-Nordstroem Black-hole(2023)</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Priyanka Kanade, Shivaji University- Gravitational Waves (2023)</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div> Raj Hasabe, Shivaji University- Partition function of Schwarzschield Black-hole(2023) </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Shardul Chavan, Shivaji University- Baryogenesis (2023) </div>
                    </div>
                </li>
            </ol>
        </div>
        <div class="col-xl-1"></div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}