{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/mycss/teaching.css">
{% endblock %}

{% block title %}Teaching{% endblock %}

{% block pagetitle %}Teaching{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-5 mytext">
            <!-- Teaching Interests -->
            <p class="fs-4 mt-4">Teaching Interests:</p>
            <ol class="list-group list-group-numbered teaching-interests">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Modern Physics</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Quantum Mechanics</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Statistical Mechanics </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div> Special and General Theory of Relativity </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Electrodynamics (Classical and Quantum)</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Quantum Field Theory</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Gravitation and Cosmology </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>High Energy Particle Physics</div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Introduction to Thermodynamics </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div> Numerical Computations (using Fortran, C C+, Python, and etc.) </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Experimental and Laboratory Demonstration </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>Any other topics of Departmental need and interest </div>
                    </div>
                </li>
            </ol>
            <!-- Lectures in Advanced Schools -->
            <p class="fs-4 mt-4">Lectures in Advanced Schools:</p>
            <ol class="list-group list-group-numbered lectures-AS">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>“BSM Higgs”,at 5th Uniandes Particle Physics School, at Universidad de los Andes, Bogota
                        </div>
                        Link: <a target="_blank"
                            href="https://fisindico.uniandes.edu.co/indico/sessionDisplay.py?sessionId=18&confId=71">https://fisindico.uniandes.edu.co/indico/sessionDisplay.py?sessionId=18&confId=71</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>“A short review on Higgs searches at LHC experiments”, at 3rd Andean School on Nuclear
                            Physics, at Universidad de los Andes, Bogota </div>
                        Link: <a target="_blank"
                            href="https://escuelafisicanuclear3.uniandes.edu.co/images/LecturesNotes/28-07/SibaDas.pdf">https://escuelafisicanuclear3.uniandes.edu.co/images/LecturesNotes/28-07/SibaDas.pdf</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>“An Introduction to Supersymmtery”, at IFUAP (November-December 2015), BUAP, Puebla,
                            Mexico and at IFM (January 2016), Michoacan, Mexico </div>
                        Link: <a target="_blank"
                            href="http://www.ifuap.buap.mx/eventos/2015/Supersymmetry.pdf">http://www.ifuap.buap.mx/eventos/2015/Supersymmetry.pdf</a>
                    </div>
                </li>
            </ol>
        </div>
        <!-- Teaching Experience -->
        <div class="col-xl-5 mytext">
            <p class="fs-4 mt-4">Teaching Experience:</p>
            <!-- Timeline Started -->
            <section class="mt-4">
                <ul class="timeline">
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Shivaji University Kolhapur, Kolhapur, Maharashtra, India</h5>
                        <p class="text-muted mb-2 fw-bold">10/2021 - Present</p>
                        <div class=" text-muted">
                            <ul>
                                <li>Quatntum Field Theory for M.Sc.(II) Theoretical Physics Special. Semester-IV</li>
                                <li>Quantum Mechanics-II for M.Sc.(I) Semester-IV</li>
                                <li>General Theory of Relativity for M.Sc.(II) Theoretical Physics Special. Semester-III
                                </li>
                                <li>Quantum Mechanics-I for M.Sc.(I) Semester-III</li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Universidad del Valle de Guatamela, Guatemala City, Guatemala</h5>
                        <p class="text-muted mb-2 fw-bold">01/2019 - 12/2020</p>
                        <div class=" text-muted">
                            <ul>
                                <li>Introduction to Particle Physics</li>
                                <li>Statistics and Probablities</li>
                                <li>Fisica-III courses (Theory + Lab) with Electrostatics, Magnetostatics, LCR circuits,
                                    Optics etc.</li>
                                <li>Modern Physics Experimental Lab(for 3rd year Physics students)</li>
                                <li>Classical and Quantum Electrodynamics (for final year Physics students)</li>
                                <li>Electro-magnetic Theory-I (for 3rd year Engineering Physics)</li>
                                <li>Fisica-II Lab (for 2nd year Engineering Physics, topics includes Kinematics,
                                    Thermodynamics)</li>
                                <li>Introduction to Thermodynamics (for final year Physics students)</li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Universidad de los Andes (Uniandes), Bogota, Colombia</h5>
                        <p class="text-muted mb-2 fw-bold">01/2016– 12/2018</p>
                        <div class=" text-muted">
                            <ul>
                                <li>Fisica-I and Fisica-II courses for undergraduate</li>
                                <li>Fisica-II courses for Thermodynamics, Electrostatics, Magnetism, Electromagnetism,
                                    LCR circuits</li>
                                <li>Classical Electrodynamics for final year Undergraduate and Postgraduate combined
                                    students</li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">IFUAP-FCFM, BUAP, Puebla, Mexico </h5>
                        <p class="text-muted mb-2 fw-bold">09/2014 - 12/2015</p>
                        <div class=" text-muted">
                            <ul>
                                <li>MadGraph-Pythia-Delphes for Large Hadron Collider (LHC) simulation for the Ph.D.
                                    students</li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Visva-Bharati University, Santiniketan, India </h5>
                        <p class="text-muted mb-2 fw-bold">08/2012 - 12/2012</p>
                        <div class=" text-muted">
                            <ul>
                                <li>Advanced Quantum Mechanics-II for M.Sc. Final year students</li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Physikalisches Institute(PI), University of Bonn, Germany</h5>
                        <p class="text-muted mb-2 fw-bold">10/2007 - 02/2008</p>
                        <div class=" text-muted">
                            <ul>
                                <li>Collider Physik - intended for problem solving</li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">Jadavpur University, Kolkata, India</h5>
                        <p class="text-muted mb-2 fw-bold">01/2001 - 01/2003</p>
                        <div class=" text-muted">
                            <ul>
                                <li>Modern Physics for Electronics Engineering</li>
                                <li>Kinetic Theory of Gases for Mechanical Engineering</li>
                                <li>Heat and Thermodynamics for Printing Engineering</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </section>
            <!-- Timeline Ended-->
        </div>
        <div class="col-xl-1"></div>

    </div>
    {% endblock %}

    {% block js %}{% endblock %}